/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.imageContainer{
  position: absolute;
  top:55px;
  left:440px;
  width: 950px;
  height: 635px;
  border:2px solid black;
}
#image{
  position: absolute;
  top:0;
  left: 0;
  width: 100%; 
  height: auto;
  z-index: 20;
}

#frameImage{
  position: absolute;
  top:0;
  left: 0;
  width: 100%; 
  height: auto;
  z-index: 30;
}
#leftArrow{
  position: absolute;
  top:300px;
  left: 0;
  margin-left: -50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
#rightArrow{
  position: absolute;
  top:300px;
  right: 0;
  margin-right: -50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.container{
  width: 970px;
}
.customerName{
  position: absolute;
  z-index: 10;
  font-size: 100px;
  top: 350px;
  left: 970px;
  color: #4e2b76;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.numberCountdown{
  position: absolute;
  top:250px;
  left:40%;
  width: 350px;
  height: 350px;
  border-radius: 200px;
  background-color: #64cb00;
  padding-top: 30px;
  font-size: 200px;
  font-weight: lighter;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
.customBtn{
  position: absolute;
  z-index: 10;
  display: block;
  background: #64cb00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 310px;
  height: 66px;
  border: 0px;
  border-bottom: 7px solid #52A600;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px;
  font-size: 22px;
  font-weight: 200;
  line-height: 26px;
}
.frames{
  position: absolute;
  z-index:10;
  top:187px;
  left:350px;
  border-collapse: separate;
    border-spacing: 150px 44px;
}
.tdframes{
  position: relative;
  width:370px;
  height: 246px;
  
  margin-left: 50px;
}
.imgFrames{
  top:0;
  left: 0;
  width: 100%;
  height: auto;
  position:absolute;
  z-index: 20;
  cursor:pointer;
}
.picFrames{
  top:0;
  left: 0;
  position:absolute;
  z-index: 10;
  width: 100%;
  height: auto;
}
.frameBorder{
  position: absolute;
  width: 385px;
  height: 260px;
  border:3px solid #4e2b76;
}
.sendMail{
  position: absolute;
  top:860px;
  left:800px;
  cursor: pointer;
  width: 120px;
  height: 60px;
}
.formInput{
  top:319px;
  left: 1007px;
  position:absolute;
  z-index: 10;
  width: 672px;
  height: 62px;
  font-size: 30px;
  color:#222;
  font-weight: 100;
  border-radius: 10px;
  border:3px solid #aaa;
  background: -webkit-linear-gradient(#ddd, #fff, #ddd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ddd, #fff, #ddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ddd, #fff, #ddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ddd, #fff, #ddd); /* Standard syntax */
}


input[type="text"]::-webkit-input-placeholder {
   font-size: 30px;
  color:#666;
  font-weight: 100;
}
#readyButton{
  position: absolute;
  z-index: 10;
  top: 750px;
  left: 1007px;
  display: block;
  background: #64cb00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 310px;
  height: 66px;
  border: 0px;
  border-bottom: 7px solid #52A600;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px;
  font-size: 22px;
  font-weight: 200;
  line-height: 26px;
}